pre {
  background: rgba(0, 0, 0, 0.05) !important;
  padding: 8px !important;
}
.theme--light.v-application code {
  background: initial !important;
}
.v-application code {
  padding: initial !important;
}
table {
    border-collapse: collapse;
    margin-bottom: 16px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
  th, td {
    border: solid 1px gray;
    padding: 8px;
  }
}
h1 {
  border-bottom: 1px solid #ddd;
  margin: 16px 0;
  font-size: 24px;
}
h2 {
  margin: 16px 0;
}
.cursor {
  cursor: pointer;
}
.v-btn__content {
  text-transform: none;
}
.main-article img {
  width: 301px;
}

